@import 'VariablesAndMixins.scss';

body {
	margin: 0;
}

.bodyText {
	@include media-largeDesktop {
		margin-right: $largeDesktopMargin;
		margin-left: $largeDesktopMargin;
	}

	@include media-smallDesktop {
		margin-right: $smallDesktopMargin;
		margin-left: $smallDesktopMargin;
	}
}
